* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}
.py-50 {
  padding: 50px 0px;
}
.nav-wrap {
  background-color: #fff;
  border-bottom: 1px solid #00b158;
}
.nav-group {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-items p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 33px;
  text-align: center;
  border-radius: 33px;
}
.nav-items p:nth-child(1) {
  background-color: #00b158;
  color: #fff;
}
.addRecipe-img {
  background-image: url(./images/leo-roza-P_z_xlMGuEk-unsplash.png);
  height: 255px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.text-div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.img-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 45px;
  color: white;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.addRecipe-container {
  max-width: 70%;
  margin: 55px auto;
  padding: 40px;
}
.recipe-namediv {
  margin: 20px auto;
  display: table-caption;
}
.recipe-namediv input {
  margin: 10px auto;
  border-radius: 33px;
  background-color: #f2f2f2;
  width: 500px;
  height: 45px;
}
.recipe-imagediv {
  margin: 10px auto;
  display: inline-grid;
}
.recipe-imagediv input {
  margin: 10px auto;
  border-radius: 33px;
  background-color: #f2f2f2;
  width: 500px;
  height: 45px;
}
.addRecipe-container h2 {
  font-size: 28px;
  margin: 20px;
  color: #17285a;
}
.food-type {
  margin: 20px auto;
}
.add {
  display: block;
}
.mt-sm {
  margin: 10px auto;
}
.ingredients-div {
  margin: 10px auto;
}
.food-type p {
  margin: 10px auto;
}
.food-type input {
  margin: 10px auto;
}
.ingredients {
  width: 500px;
  height: 140px;
  border-radius: 33px;
  background-color: #f2f2f2;
}
.preparation {
  margin: 10px auto;
}
.preparation-steps {
  width: 500px;
  height: 272px;
  border-radius: 33px;
  background-color: #f2f2f2;
}

#uploadbutton {
  background-color: #00b158;
  border-radius: 33px;
  color: #ffff;
  width: 130px;
  height: 40px;
  border: none;
  margin-left: 370px;
}
.description {
  max-width: 70%;
  margin: auto;
}

#form-container {
  padding: 20px;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  height: 90px;
  padding: 0 25px;
  align-items: center;
  border-bottom: 3.5px solid #00b158;
}

.RecipieFrom label {
  font-size: 16px;
}
.addrecipebtn {
  background-color: #00b158;
  color: #ffff;
  width: 187px;
  height: 45px;
  border-radius: 33px;
  border: none;
}

.footer-div {
  background-color: #17285a;
  opacity: 100%;
  margin: auto;
  width: 100%;
  display: block;
}
.yummy-footer {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px 0;
  justify-content: space-between;
  border-bottom: olivedrab;
}
.footer-menu {
  display: flex;
}
.yummy-div {
  display: flex;
  justify-content: space-between;
}
#yummy {
  color: #ffffff;
  opacity: 100%;
  width: 132px;
  height: 64px;
}

.footer-menu a {
  color: #ffff;
  margin-left: 20px;
}
.footer-year {
  border-top: 1px solid #ffffff;
  padding: 25px 0px;
  width: 80%;
  margin: auto;
}

.footer-year p {
  color: #ffffff;
  text-align: center;
}
