@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("http://fonts.cdnfonts.com/css/apple-chancery");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
}
/* Navigation block */
.nav-wrap {
  background-color: #fff;
  border-bottom: 1px solid #00b158;
}
.nav-group {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-items a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 33px;
  text-align: center;
  border-radius: 33px;
  text-decoration: none;
}
.nav-items a:nth-child(1) {
  background-color: #00b158;
  color: #fff;
}
.nav-items p {
  display: none;
}

/* cover image */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/leo-roza-P_z_xlMGuEk-unsplash.png);
  background-color: black;
  opacity: 60;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.header-content {
  margin: 0 auto;
  max-width: 718px;
}
.header h1 {
  color: #fff;
  font-size: 44px;
  text-align: center;
}
/* form */
#formId {
  position: relative;
  max-width: 600px;
  margin: auto;
}
#formId input {
  max-width: 580px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  padding: 0 5px 0 10px;
}
.search {
  position: absolute;
  top: 16px;
  right: 22px;
  cursor: pointer;
}

/* Popular recipes  */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}
.py-50 {
  padding: 50px 0px;
}
.recipes-blk {
  background-color: #f2f2f2;
}
.recipes-blk h2 {
  font-size: 20px;
  font-weight: 400;
  color: #00b158;
}
.section-desc {
  font-size: 38px;
  color: #17285a;
}
.primary-btn {
  width: 200px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #00b158;
  border-radius: 25px;
  outline: none;
  border: 0px;
  text-transform: uppercase;
}
/* main Card Block */
.imagecards {
  width: 100;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0px 20px;
  margin: 20px auto;
  gap: 30px;
  justify-content: center;
}
/* Recipe image block  */
.recipe-card {
  max-width: 343px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #00000029;
}
.name-content {
  display: flex;
  justify-content: space-between;
}
.recipe-card .content {
  padding: 20px;
}

/* footer */
.footer-div {
  background-color: #17285a;
  opacity: 100%;
  margin: auto;
  width: 100%;
  display: block;
}
.yummy-footer {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px 0;
  justify-content: space-between;
  border-bottom: olivedrab;
  align-items: center;
}
.footer-menu {
  display: flex;
}
.yummy-div {
  display: flex;
  justify-content: space-between;
}
#yummy {
  color: #ffffff;
  opacity: 100%;
  width: 132px;
  height: 64px;
}

.footer-menu a {
  color: #ffff;
  margin-left: 20px;
  text-decoration: none;
}
.footer-year {
  border-top: 1px solid #ffffff;
  padding: 25px 0px;
}

.footer-year p {
  color: #ffffff;
  text-align: center;
}
/* media query @1200px */
@media (max-width: 1200px) {
  .imagecards {
    grid-template-columns: auto auto;
    gap: 40px;
  }
}
/* media query @780px */
@media (max-width: 780px) {
  .imagecards {
    grid-template-columns: auto;
    gap: 30px;
  }
  .nav-group {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px 0px 20px 20px;
    display: flex;
    justify-content: space-between;
  }
}
/* media query @520px */
@media (max-width: 520px) {
  .footer-menu {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  .yummy-footer {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    border-bottom: olivedrab;
    display: block;
    text-align: -webkit-center;
  }
  .text-right {
    text-align: center;
  }
  #formId input {
    max-width: 486px;
  }
  .header h1 {
    font-size: 42px;
    text-align: center;
  }
  .nav-items a {
    display: none;
  }
  .nav-items p {
    display: block;
  }
}
/* media query @425px */
@media (max-width: 425px) {
  .imagecards {
    grid-template-columns: auto;
    margin: 20px 50px;
    gap: 30px;
  }
  #formId input {
    max-width: 400px;
    padding: 0px 5px 0 16px;
  }
  .header h1 {
    font-size: 42px;
    text-align: center;
  }
  .nav-items img {
    margin: auto 20px;
  }
  .logo-blk img {
    margin: auto 20px;
  }
}
/* media query @375px */
@media (max-width: 375px) {
  .imagecards {
    grid-template-columns: auto;
    margin: 20px 18px;
    gap: 30px;
  }
  #formId input {
    max-width: 353px;
    padding: 0px 5px 0 16px;
  }
}
/* media query @320px */
@media (max-width: 320px) {
  #formId input {
    max-width: 295px;
  }
  .imagecards {
    grid-template-columns: auto;
    margin: 20px 5px;
    gap: 30px;
  }
  .cover-img img {
    max-width: 310px;
  }
}
